.nav-item {
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.nav-item:hover {
    background-color: rgba(193, 120, 131, 1); /* Lighter maroon */
    color: rgb(0,51,106); /* Dark gray for text */
}

.logo {
    color: #EFEFEF;
    font-family: cursive;
    font-size: 2rem;
    position: absolute;
    font-weight: bold;
}

.logo:hover {
    background-color: rgba(193, 120, 131, 1); /* Lighter maroon */
    color: rgb(0,51,106); /* Dark gray for text */
}
  