html {
    scroll-behavior: smooth;
}

.home-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
    overflow: scroll;
  }
  
  .greeting-section {
    text-align: center;
  }
  
  .animated-section {
    animation: fadeIn 2s ease-in-out, slideInFromLeft 2s ease-in-out;
  }
  
  .greeting-header {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .greeting-text {
    font-size: 1.2em;
  }
  
  .profile-picture-section {
    margin-top: 20px;
  }
  
  .animated-picture {
    animation: scaleUp 2s ease-in-out;
  }
  
  .profile-picture {
    width: 550px;
    height: 550px;
    border-radius: 50%;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideInFromLeft {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
  }
  
  @keyframes scaleUp {
    from { transform: scale(0); }
    to { transform: scale(1); }
  }
  