.contactme-header {
    font-size: 3rem;
    margin-bottom: 20px;
    align-self: center;
}

.contactme-container {
    text-align: center;
    padding: 50px;
}

.contact-me-container {
    background: #ffffff; /* or any color that fits your design */
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60vw;
  }
  
  .contact-me-container h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  .success-message {
    animation: fadeIn 1s, fadeOut 1s 4s; /* 1s to fade in, 4s delay then fade out */
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
  